<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="../partials/styles.css" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
  </head>
  <style>
    body {
      font-family: "Lobster", cursive;
      text-align: center;
    }
    .heading {
      text-align: center;
    }

    .create_new {
      text-align: center;
      margin-bottom: 50px;
    }
    /* all todo page  */
    .create_new {
      background-color: rgb(18, 52, 243);
      border-style: none;

      outline: aliceblue;
      border-radius: 5px;
      height: 50px;
      width: 100px;
    }
    .create_new_link {
      color: white;
    }
    .create_new_link:hover {
      color: white;
      text-decoration: none;
    }

    table,
    tr,
    td,
    th {
      border: 2px solid black;
      margin: 0 auto;
      padding: 0 100px;
      height: 50px;
      text-align: center;
    }
    th {
      font-size: 30px;

      text-align: center;
    }
    td {
      font-size: 20px;
    }

    td form button {
      border-radius: 50%;
      background-color: blue;
      color: white;
    }

    .last-th {
      border: 2px solid white;
    }

    footer {
      position: absolute;
      bottom: 0;
      width: 100vw;
      background-color: blue;
      color: white;
      text-align: center;
    }
  </style>
</html>
